* {
    padding: 0;
    margin: 0;
}

body {
    overflow: hidden;
    background-color: aliceblue;
}

.App {
    display: flex;
    justify-content: center;
    align-items: center;
    width: max-content;
    height: 100vh;
    margin: auto 10vw;
}

.list {
    display: flex;
    gap: 15px;
}
